:root {
    --ion-background-color: #f8dfdf;        /* Latar belakang putih */
    --ion-text-color: #000000;              /* Teks hitam */
    --ion-color-primary: #540007;           /* Merah Spider-Man */
    --ion-color-secondary: #0056b3;         /* Biru Spider-Man */
    --ion-color-tertiary: #000000;          /* Hitam */
    
  
    /* Kontras warna */
    --ion-color-primary-contrast: #ffffff;
    --ion-color-secondary-contrast: #ffffff;
  }
  